#profile_image {
	height:40px;
	width:40px;
}

.deal_image {
    width:120px;
}

.content {
    top: 50px;
    text-align: center;
    position: relative;
    width: 1250px;
}

#main {
  width: 1120px;
  margin-left: -560px;
  left: 50%;
  top: 50px;
  position: relative;
}
